.sith_icon_container {
  box-sizing: border-box;
  margin: 40px;
  position: relative;
  width: 300px;
  height: 300px; }
  .sith_icon_container .sith_icon_text {
    position: absolute;
    left: 150px;
    margin: 0;
    padding: 0; }
    .sith_icon_container .sith_icon_text .upsidedown {
      transform: rotate(180deg);
      position: absolute; }
    .sith_icon_container .sith_icon_text .sith_letter {
      text-align: center;
      font: 30px Monaco, MonoSpace;
      height: 360px;
      position: absolute;
      width: 20px;
      text-shadow: 0 3px 5px red;
      font-weight: bold;
      top: -46px;
      left: -10px; }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char1 {
        transform: rotate(-42deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char2 {
        transform: rotate(-36deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char3 {
        transform: rotate(-30deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char4 {
        transform: rotate(-24deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char5 {
        transform: rotate(-18deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char6 {
        transform: rotate(-12deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char7 {
        transform: rotate(-6deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char8 {
        transform: rotate(0deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char9 {
        transform: rotate(6deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char10 {
        transform: rotate(12deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char11 {
        transform: rotate(18deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char12 {
        transform: rotate(24deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char13 {
        transform: rotate(30deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char14 {
        transform: rotate(36deg); }
      .sith_icon_container .sith_icon_text .sith_letter.top_text.char15 {
        transform: rotate(42deg); }
      .sith_icon_container .sith_icon_text .sith_letter.bottom_text {
        position: absolute;
        top: -20px; }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char1 {
          transform: rotate(222deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char2 {
          transform: rotate(216deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char3 {
          transform: rotate(210deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char4 {
          transform: rotate(204deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char5 {
          transform: rotate(198deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char6 {
          transform: rotate(192deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char7 {
          transform: rotate(186deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char8 {
          transform: rotate(180deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char9 {
          transform: rotate(174deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char10 {
          transform: rotate(168deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char11 {
          transform: rotate(162deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char12 {
          transform: rotate(156deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char13 {
          transform: rotate(150deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char14 {
          transform: rotate(144deg); }
        .sith_icon_container .sith_icon_text .sith_letter.bottom_text.char15 {
          transform: rotate(138deg); }
  .sith_icon_container .sith_halocron {
    font: 30px Monaco, MonoSpace;
    text-shadow: 0 0px 10px red;
    position: absolute;
    top: 110px; }
    .sith_icon_container .sith_halocron.float_animation {
      animation: float_halocron 10s ease-in-out infinite alternate; }
@keyframes float_halocron {
  0% {
    top: 130px; }
  50% {
    top: 80px; }
  100% {
    top: 130px; } }
    .sith_icon_container .sith_halocron .rotate_animation {
      animation: rotate_halocron 8s linear infinite; }
@keyframes rotate_halocron {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
    .sith_icon_container .sith_halocron.left_halocron {
      left: 100px; }
    .sith_icon_container .sith_halocron.right_halocron {
      right: 100px; }
  .sith_icon_container img.sith_silhouette {
    height: 300px;
    width: 300px;
    border-radius: 150px; }

body {
  background: black; }

*, ::before, ::after {
  box-sizing: border-box; }

.line_wrapper {
  justify-content: center;
  width: 100vw;
  margin: 50px 0 0 0;
  width: 100%;
  text-align: center;
  margin: 0; }
  .line_wrapper:nth-of-type(even) {
    justify-content: right;
    justify-self: right; }
  .line_wrapper .quote {
    box-shadow: 0 0 150px 75px black inset;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    --quote-height: 200px;
    height: var(--quote-height);
    width: 100%;
    color: yellow;
    font-size: 2.5em; }
    .line_wrapper .quote::before {
      content: '\"';
      color: black;
      font-size: 2em; }
    .line_wrapper .quote::after {
      content: '\"';
      color: black;
      font-size: 2em; }
  .line_wrapper .sith_eyes.clip_one {
    position: relative; }
  .line_wrapper figure {
    width: 100%;
    text-align: center;
    margin: 0;
    margin: 15px 0; }
    .line_wrapper figure img {
      max-width: 100vw;
      width: 100%;
      overflow: hidden; }
  .line_wrapper .sith_eyes {
    background: url(../images/anakin_sith_eyes.jpg); }

.end_page {
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-rows: auto 100px auto;
  grid-tempate-columns: 1fr 1fr 1fr 8fr 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas: "first_line_good_intention  first_line_good_intention  first_line_good_intention   first_line_good_intention  first_line_good_intention  first_line_good_intention   first_line_good_intention   first_line_good_intention" "first_line_evil_intention  first_line_evil_intention  first_line_evil_intention   first_line_evil_intention  first_line_evil_intention  first_line_evil_intention   first_line_evil_intention   first_line_evil_intention" "second_line_good_intention second_line_good_intention second_line_good_intention  second_line_good_intention second_line_good_intention second_line_good_intention  second_line_good_intention  second_line_good_intention" "second_line_evil_intention second_line_evil_intention second_line_evil_intention  second_line_evil_intention second_line_evil_intention second_line_evil_intention  second_line_evil_intention  second_line_evil_intention" "third_line_good_intention  third_line_good_intention  third_line_good_intention   third_line  third_line_good_intention  third_line_good_intention   third_line_good_intention   third_linee_geood_intention" "third_line_evil_intention  third_line_evil_intention  third_line_veil_intention   third_line_evil_intention  third_line_evil_intention  third_line_evil_intention   third_line_evil_intention   third_line_evil_intention" "fourth_line_good_intention fourth_line_good_intention fourth_line_good_intention  fourth_line_good_intention fourth_line_good_intention fourth_line_good_intention  fourth_line_good_intention  fourth_line_good_intention" "fourth_line fourth_line fourth_line  fourth_line fourth_line fourth_line  fourth_line  fourth_line" "fifth_line  fifth_line  fifth_line   fifth_line  fifth_line  fifth_line   fifth_line   fifth_line" "fifth_line  fifth_line  fifth_line   fifth_line  fifth_line  fifth_line   fifth_line   fifth_line" "sixth_line  sixth_line  sixth_line   sixth_line  sixth_line  sixth_line   sixth_line   sixth_line" "sixth_line  sixth_line  sixth_line   sixth_line  sixth_line  sixth_line   sixth_line   sixth_line" ".           ........... fire_text    fire_text   fire_text   fire_text    ............ ." ".           banner_left banner_left  icon        icon        banner_right banner_right ." ".           banner_left banner_left  icon        icon        banner_right banner_right ." ".           banner_left banner_left  saber       saber       banner_right banner_right ." ".           banner_left banner_left  saber       saber       banner_right banner_right ."; }
  .end_page #fire_text {
    text-transform: uppercase;
    font-weight: bolder;
    background: url("../images/fire.gif");
    font-size: 200px;
    justify-self: center;
    grid-area: fire_text;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .end_page #light_saber {
    width: 600px;
    height: 350px;
    clip-path: ellipse(40% 40% at 50% 50%);
    grid-area: saber;
    justify-self: center; }
  .end_page .sith_icon_container {
    grid-area: icon;
    justify-self: center;
    align-self: center; }
  .end_page .banner_left {
    grid-area: banner_left; }
    .end_page .banner_left img {
      max-width: 100%;
      height: auto; }
  .end_page .banner_right {
    grid-area: banner_right; }
    .end_page .banner_right img {
      max-width: 100%;
      height: auto; }

.page_2 {
  background: url(../images/oath.jpg);
  z-index: 2; }

@media only screen and (min-width: 800px) {
  .end_page {
    grid-template-columns: 1fr 2fr 4fr 4fr 2fr 1fr;
    grid-template-areas: "fire_text fire_text    fire_text  fire_text  fire_text    fire_text" "......... banner_left  icon       icon       banner_right ........." "......... banner_left  icon       icon       banner_right ........." "......... banner_left  saber      saber      banner_right ........." "......... banner_left  saber      saber      banner_right .........";
    grid-template-rows: auto 100px auto; }

  .banner_left {
    grid-area: banner_left; }
    .banner_left img {
      max-width: 100%;
      height: auto; }

  .banner_right {
    grid-area: banner_right; }
    .banner_right img {
      max-width: 100%;
      height: auto; } }
.your_sith_name {
  color: white;
  text-align: center;
  margin-bottom: 40px; }

.sith_master_selection {
  text-align: center; }
  .sith_master_selection * {
    color: white; }
  .sith_master_selection #master_image {
    width: 50%;
    margin: auto;
    text-align: center; }
    .sith_master_selection #master_image img {
      display: none;
      max-width: 50vw; }

.end_page {
  margin-top: 100px; }

/*# sourceMappingURL=sith.css.map */
