// scss --watch sith.scss:../css/sith.css
@import 'sith_logo';

body {
  background: black;
}

*, ::before, ::after {
  box-sizing: border-box
}
.line_wrapper {
  justify-content: center;
  width: 100vw;
  margin: 50px 0 0 0;
  width: 100%;
  text-align: center;
  margin: 0;

  &:nth-of-type(even){
    justify-content: right;
    justify-self: right;
  }
  .quote {
    box-shadow: 0 0 150px 75px black inset;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    --quote-height: 200px;
    height: var(--quote-height);
    width: 100%;
    color: yellow; 
    font-size: 2.5em;

    &::before {
      content: '\"';
      color: black;
      font-size: 2em;
    }
    &::after {
      content: '\"';
      color: black; 
      font-size: 2em;
    }
  }

  .sith_eyes.clip_one { 
position: relative;
    img {
      // position: absolute;
      // width: 100%;
      // clip-path: polygon(0 100px, 100vw 100px, 100vw 200px, 0px 200px);

    }
  }

  figure {
    width: 100%;
    text-align: center;
    margin: 0;
    margin: 15px 0;

    img {
      max-width: 100vw;
      width: 100%;
      overflow: hidden;
    }
  }

  .sith_eyes {
    background: url(../images/anakin_sith_eyes.jpg);
  }


  // background-color:rgba(255, 33, 33, 0.3);
              
  // background-repeat: none, none, none;
  // margin-bottom: var(--quote-height);  
}

.end_page {
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-rows: auto 100px auto ;
  grid-tempate-columns: 1fr 1fr 1fr 8fr 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:  "first_line_good_intention  first_line_good_intention  first_line_good_intention   first_line_good_intention  first_line_good_intention  first_line_good_intention   first_line_good_intention   first_line_good_intention"
                        "first_line_evil_intention  first_line_evil_intention  first_line_evil_intention   first_line_evil_intention  first_line_evil_intention  first_line_evil_intention   first_line_evil_intention   first_line_evil_intention"
                        "second_line_good_intention second_line_good_intention second_line_good_intention  second_line_good_intention second_line_good_intention second_line_good_intention  second_line_good_intention  second_line_good_intention"
                        "second_line_evil_intention second_line_evil_intention second_line_evil_intention  second_line_evil_intention second_line_evil_intention second_line_evil_intention  second_line_evil_intention  second_line_evil_intention"
                        "third_line_good_intention  third_line_good_intention  third_line_good_intention   third_line  third_line_good_intention  third_line_good_intention   third_line_good_intention   third_linee_geood_intention"
                        "third_line_evil_intention  third_line_evil_intention  third_line_veil_intention   third_line_evil_intention  third_line_evil_intention  third_line_evil_intention   third_line_evil_intention   third_line_evil_intention"
                        "fourth_line_good_intention fourth_line_good_intention fourth_line_good_intention  fourth_line_good_intention fourth_line_good_intention fourth_line_good_intention  fourth_line_good_intention  fourth_line_good_intention"
                        "fourth_line fourth_line fourth_line  fourth_line fourth_line fourth_line  fourth_line  fourth_line"
                        "fifth_line  fifth_line  fifth_line   fifth_line  fifth_line  fifth_line   fifth_line   fifth_line"
                        "fifth_line  fifth_line  fifth_line   fifth_line  fifth_line  fifth_line   fifth_line   fifth_line"
                        "sixth_line  sixth_line  sixth_line   sixth_line  sixth_line  sixth_line   sixth_line   sixth_line"
                        "sixth_line  sixth_line  sixth_line   sixth_line  sixth_line  sixth_line   sixth_line   sixth_line"
                        ".           ........... fire_text    fire_text   fire_text   fire_text    ............ ."
                        ".           banner_left banner_left  icon        icon        banner_right banner_right ."
                        ".           banner_left banner_left  icon        icon        banner_right banner_right ."
                        ".           banner_left banner_left  saber       saber       banner_right banner_right ."
                        ".           banner_left banner_left  saber       saber       banner_right banner_right .";
  // justify-content: center;

    #fire_text {
      // text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      background: url('../images/fire.gif');
      font-size: 200px;
      // line-height: 20px;
      // height: 300px;
      justify-self: center;
    grid-area: fire_text;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    
  #light_saber {
    width: 600px;
    height: 350px;
    // display: block;
    // margin: auto;
    clip-path: ellipse(40% 40% at 50% 50%);
    grid-area: saber;
    justify-self: center;
  }

  .sith_icon_container {
    grid-area: icon;
    justify-self: center;
    align-self: center;
  }

  .banner_left {
    img {
      max-width: 100%;
      height: auto;
    }
   grid-area: banner_left;
  }
  
  .banner_right {
    img {
      
      max-width: 100%;
      height: auto;
    }
   grid-area: banner_right;
  }
}

.page_2 {
  background: url('../images/oath.jpg');
  z-index: 2;
}

@media only screen and (min-width: 800px) {
.end_page {

  grid-template-columns: 1fr 2fr 4fr 4fr 2fr 1fr;
  grid-template-areas:  "fire_text fire_text    fire_text  fire_text  fire_text    fire_text"
                        "......... banner_left  icon       icon       banner_right ........."
                        "......... banner_left  icon       icon       banner_right ........."
                        "......... banner_left  saber      saber      banner_right ........."
                        "......... banner_left  saber      saber      banner_right .........";
  grid-template-rows: auto 100px auto;
    
  }

  .banner_left {
    img {
      max-width: 100%;
      height: auto;
    }
   grid-area: banner_left;
  }
  
  .banner_right {
    img {
      
      max-width: 100%;
      height: auto;
    }
   grid-area: banner_right;
  }
}

.your_sith_name {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.sith_master_selection {
  text-align: center;
  * { color: white; }

  #master_image {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;


    img {
      display: none;
      max-width: 50vw;
    }
  }
}

.end_page {
  margin-top: 150px;
}

.count {
  color: white;
  counter-reset: my-counter;

  ul {
    list-style: lower-greek outside url('../images/not_an_image.jpg');
  }

  li::before {
    counter-increment: my-counter;
    content: counter(my-counter) ': ';
  }
}

.blend {
  height: 200px;
  width: 75%;
  margin: auto;

  // background-color:  radial-gradient(#e66465, #9198e5);
  background-color:  red;
  background-image: radial-gradient(#e66465, #9198e5), url('../images/sith_eyes_female.jpg');
  // background-image: url('../images/sith_eyes_female.jpg'), radial-gradient(#e66465, #9198e5);
  // mix-blend-mode: overlay;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 15px 15px 75px 45px inset;
  background-position: center center;

  img {
    // filter: grayscale(80%);
  }
}

@media screen and (max-width: 600px) {
  .blend {
    background-position: left top;
    box-shadow: -63px 0px 75px 56px inset;

  }
}

@media screen and (min-width: 1200px) {
  .blend {
    box-shadow: 0px 10px 93px 59px inset;

  }
}
