$sith_img_side_length: 300px;
$sith_font_size: 30px;
$sith_font_width: 20px;
$sith_font_padding_from_logo: 16px;
$sith_font: $sith_font_size Monaco, MonoSpace;

.sith-icon-container {
  box-sizing: border-box;
  margin: 40px;

  position: relative;
  width: $sith_img_side_length;
  height: $sith_img_side_length;

  .sith-letters-position-1{

  }

  .sith-icon-text {
    position: absolute;
    left: ($sith_img_side_length / 2);
    margin: 0;
    padding: 0;

    .upsidedown {
      transform: rotate(180deg);
      position: absolute;
    }

    .sith-letter {
      text-align: center;
      font: $sith_font;
      height: $sith_img_side_length + (2 * $sith_font_size); //+ (2 * $sith_font_padding_from_logo);
      position: absolute;
      width: $sith_font_width;
      text-shadow: 0 3px 5px red;
      font-weight: bold;
      top: 0 - ($sith_font_size + $sith_font_padding_from_logo);
      left: -($sith_font_width / 2);

      &.top-text {
        $degree_of_rotation: 6;
        $num_of_letters: 15;
        $i: 1;
        $middle_index_of_letters: ($num_of_letters/ 2) + 0.5;

        @while $i <= $num_of_letters {
          &.char#{$i} {
            transform: rotate( #{($i * $degree_of_rotation) - ($middle_index_of_letters * $degree_of_rotation)}deg );
          }
          $i: $i + 1;
        }
      }

      &.bottom-text {
        $degree_of_rotation: 6;
        $num_of_letters: 16;
        $i: 0;
        $middle_index_of_letters: ($num_of_letters/ 2) + 0.5;
        position: absolute;
        top: -20px;
        @while $i < $num_of_letters {
          &.char#{$i+1} {
            transform: rotate(  #{ 180 + ($middle_index_of_letters * $degree_of_rotation) - ($i * $degree_of_rotation + 6) }deg );
          }
          $i: $i + 1;
        }
      }
    }
  }

  .sith-halocron {
    font: $sith_font;
    text-shadow: 0 0px 10px red;
    position: absolute;
    top: 110px;

    &.float-animation{
      animation: float_halocron 10s ease-in-out infinite alternate;

      @keyframes float_halocron {
        0% {top: 130px;}
        50% {top: 80px;}
        100% {top: 130px;}
      }
    }

    .rotate-animation{
      animation: rotate_halocron 8s linear infinite;

      @keyframes rotate_halocron {
        0%   { transform: rotate(0deg);}
        100% { transform: rotate(360deg);  }
      }
    }

    &.left-halocron {
      left: 100px;
    }

    &.right-halocron {
      right: 100px;
    }
  }

  img.sith-silhouette {
    height: $sith_img_side_length;
    width: $sith_img_side_length;
    border-radius: $sith_img_side_length / 2;
  }
}





