$sith_img_side_length: 300px;
$sith_font_size: 30px;
$sith_font_width: 20px;
$sith_font_padding_from_logo: 10px;
$sith_font: $sith_font_size Monaco, MonoSpace;

.sith-icon-container {
  box-sizing: border-box;
  margin: 40px;

  position: relative;
  width: $sith_img_side_length;
  height: $sith_img_side_length;

  .sith-icon-text {
    position: absolute;
    left: ($sith_img_side_length / 2) - ($sith_font_width / 2);
    margin: 0;
    padding: 0;

    .upsidedown { transform: rotate(180deg) ; }

    .sith-letter {
      text-align: center;
      font: $sith_font;
      height: $sith_img_side_length + (2 * $sith_font_size) + (2 * $sith_font_padding_from_logo);
      position: absolute;
      width: $sith_font_width;
      text-shadow: 0 3px 5px red;
      font-weight: bold;
      top: -($sith_font_size + $sith_font_padding_from_logo);

      .top-text {
        top: 0 - $sith_font_size;

        $degree_of_rotation: 6;
        $num_of_letters: 15;
        $i: 0;
        $middle_index_of_letters: (($num_of_letters - ($num_of_letters % 2)) / 2) - ($num_of_letters % 2);

        @while $i < $num_of_letters {
          &.char#{$i+1} {
            transform: rotate( #{($i * $degree_of_rotation) - ($middle_index_of_letters * $degree_of_rotation)}deg );
          }
          $i: $i + 1;
        }
      }



      .bottom-text {
        $degree_of_rotation: 6;
        $num_of_letters: 16;
        $i: 0;
        $middle_index_of_letters: (($num_of_letters - ($num_of_letters % 2)) / 2) - ($num_of_letters % 2);

        @while $i < $num_of_letters {
          &.char#{$i+1} {
            transform: rotate( #{ ($middle_index_of_letters * $degree_of_rotation) - ($i * $degree_of_rotation) - 180}deg );
          }
          $i: $i + 1;
        }
      }
    }

  }

  .sith-icon {
    font: $sith_font;
    text-shadow: 0 0px 10px red;
    position: absolute;
    top: 110px;

    .float{
    animation: float_halocron 10s ease-in-out infinite;

    }

    .rotate{
      animation: rotate_halocron 4s linear infinite;
    }

    &.left-icon {
      left: 20px;

    }

    &.right-icon {
      right: 25px;
    }
  }

    @keyframes float_halocron {
      from {top: 10;}
      to { bottom: 40px;}
    }

    @keyframes rotate_halocron {
      0%   { transform: rotate(0deg);}
      50%   { transform: rotate(270deg);  }
      100% { transform: rotate(540deg);  }
    }



  img.sith-silhouette {
    height: $sith_img_side_length;
    width: $sith_img_side_length;
    border-radius: $sith_img_side_length / 2;
  }
}





