.sith-icon-container {
  box-sizing: border-box;
  margin: 40px;
  position: relative;
  width: 300px;
  height: 300px; }
  .sith-icon-container .sith-icon-text {
    position: absolute;
    left: 150px;
    margin: 0;
    padding: 0; }
    .sith-icon-container .sith-icon-text .upsidedown {
      transform: rotate(180deg);
      position: absolute; }
    .sith-icon-container .sith-icon-text .sith-letter {
      text-align: center;
      font: 30px Monaco, MonoSpace;
      height: 360px;
      position: absolute;
      width: 20px;
      text-shadow: 0 3px 5px red;
      font-weight: bold;
      top: -46px;
      left: -10px; }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char1 {
        transform: rotate(-42deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char2 {
        transform: rotate(-36deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char3 {
        transform: rotate(-30deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char4 {
        transform: rotate(-24deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char5 {
        transform: rotate(-18deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char6 {
        transform: rotate(-12deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char7 {
        transform: rotate(-6deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char8 {
        transform: rotate(0deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char9 {
        transform: rotate(6deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char10 {
        transform: rotate(12deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char11 {
        transform: rotate(18deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char12 {
        transform: rotate(24deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char13 {
        transform: rotate(30deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char14 {
        transform: rotate(36deg); }
      .sith-icon-container .sith-icon-text .sith-letter.top-text.char15 {
        transform: rotate(42deg); }
      .sith-icon-container .sith-icon-text .sith-letter.bottom-text {
        position: absolute;
        top: -20px; }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char1 {
          transform: rotate(222deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char2 {
          transform: rotate(216deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char3 {
          transform: rotate(210deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char4 {
          transform: rotate(204deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char5 {
          transform: rotate(198deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char6 {
          transform: rotate(192deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char7 {
          transform: rotate(186deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char8 {
          transform: rotate(180deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char9 {
          transform: rotate(174deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char10 {
          transform: rotate(168deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char11 {
          transform: rotate(162deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char12 {
          transform: rotate(156deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char13 {
          transform: rotate(150deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char14 {
          transform: rotate(144deg); }
        .sith-icon-container .sith-icon-text .sith-letter.bottom-text.char15 {
          transform: rotate(138deg); }
  .sith-icon-container .sith-halocron {
    font: 30px Monaco, MonoSpace;
    text-shadow: 0 0px 10px red;
    position: absolute;
    top: 110px; }
    .sith-icon-container .sith-halocron.float-animation {
      animation: float_halocron 10s ease-in-out infinite alternate; }
@keyframes float_halocron {
  0% {
    top: 130px; }
  50% {
    top: 80px; }
  100% {
    top: 130px; } }
    .sith-icon-container .sith-halocron .rotate-animation {
      animation: rotate_halocron 8s linear infinite; }
@keyframes rotate_halocron {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
    .sith-icon-container .sith-halocron.left-halocron {
      left: 100px; }
    .sith-icon-container .sith-halocron.right-halocron {
      right: 100px; }
  .sith-icon-container img.sith-silhouette {
    height: 300px;
    width: 300px;
    border-radius: 150px; }

/*# sourceMappingURL=sith_logo.css.map */
